﻿
    <table class="table justify-content-center">
        <thead>
            <tr>
                <th>
                    Blanco: @Model.WhitePoints
                </th>
                <th>
                    Negro: @Model.BlackPoints
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                   Tiempo Blanco:<p id="WhiteTimer"></p>
                </td>
                <td>
                    Tiempo Negro:<p id="WhiteTimer"></p>
                </td>
            </tr>
        </tbody>
    </table>