﻿@using (Html.BeginForm("Upload",
                                "Home",
                                FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Cargar Partida</h2>
    <label for="file">Selecciona un archivo XML</label>
    <input type="file" name="file" id="file" accept="text/xml" />
    <br>
    <br>
    <input type="submit" class="btn btn-default" value="Cargar Partida"/>
    <br>
    <br>
    @ViewBag.Message
}


