﻿<div class="container-fluid">

    <h2>Turno Actual: @Model.ActualTurn </h2>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["message"]");
            };
        </script>

    }
    @Html.Partial("_HomeBoardTimer")

    @using (Html.BeginForm("NewGame", "Home", FormMethod.Post))
    {
        <input type="checkbox" id="mode1" name="mode1" value="custom_opening">
        <label for="mode1"> Usar Apertura Personalizada</label><br>

        <input type="checkbox" id="mode2" name="mode2" value="reverse_score">
        <label for="mode2"> Usar Punteo Inverso</label><br>

        <button type="submit">Iniciar Partida Nueva</button>
    }

    <table class="table justify-content-center w-100 h-100">
        <tbody>
            <tr>
                <th scope="col"></th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">D</th>
                <th scope="col">E</th>
                <th scope="col">F</th>
                <th scope="col">G</th>
                <th scope="col">H</th>
                <th scope="col"></th>
            </tr>
            @{string full_path = "";}
            @for (int i = 1; i < Model.GameBoard.Rows + 1; i++)
            {
                <tr class="table-success">
                    <th scope="row">@i</th>
                    @for (int j = 0; j < Model.GameBoard.Columns; j++)
                    {
                        if (Model.GameBoard.GameBoard[i - 1, j].Color != " ")
                        {
                            if (Model.GameBoard.GameBoard[i - 1, j].Color == "posible")
                            {
                                full_path = "/Content/Images/disk-" + Model.GameBoard.GameBoard[i - 1, j].Color + ".png";
                                <td><a href='@Url.Action("UpdateBoard", "Home", new {Row = i-1, Column =j})'><img src="@full_path"></a></td>
                            }
                            else
                            {
                                full_path = "/Content/Images/disk-" + Model.GameBoard.GameBoard[i - 1, j].Color + ".png";
                                <td><img src="@full_path"></td>
                            }

                        }
                        else
                        {
                            <td><img src="~/Content/Images/disk.png" /></td>
                        }
                    }
                    <th scope="row">@i</th>
                </tr>
            }
            <tr>
                <th scope="col"></th>
                <th scope="col">A</th>
                <th scope="col">B</th>
                <th scope="col">C</th>
                <th scope="col">D</th>
                <th scope="col">E</th>
                <th scope="col">F</th>
                <th scope="col">G</th>
                <th scope="col">H</th>
                <th scope="col"></th>
            </tr>
        </tbody>

    </table>
</div>