﻿    <div class="bd-example bd-example-tabs">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <p class="nav-link">Opciones Partida vs CPU</p>
                    <a class="nav-link" id="v-pills-home-tab" href="@Url.Action("NewGame", "Home")" role="tab" aria-controls="v-pills-home" aria-selected="false">Nueva Partida</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-upload" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cargar Partida</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-download" role="tab" aria-controls="v-pills-messages" aria-selected="false">Descargar Partida</a>
                    <p class="nav-link">Opciones Partida Jugador vs Jugador</p>
                    <a class="nav-link" id="v-pills-home-tab-pvp" href="@Url.Action("index", "multiplayer")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Nueva Partida</a>
                    <a class="nav-link" id="v-pills-profile-tab-pvp" href="@Url.Action("index", "multiplayer")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cargar Partida</a>
                    <a class="nav-link" id="v-pills-messages-tab-pvp" href="@Url.Action("index", "multiplayer")" role="tab" aria-controls="v-pills-messages" aria-selected="false">Descargar Partida</a>
                    <p class="nav-link">Opciones Othello Xtreme</p>
                    <a class="nav-link" id="v-pills-home-tab-pvp" href="@Url.Action("Index", "OthXtreme")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Nueva Partida</a>
                    <a class="nav-link" id="v-pills-profile-tab-pvp" href="@Url.Action("Index", "OthXtreme")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cargar Partida</a>
                    <a class="nav-link" id="v-pills-messages-tab-pvp" href="@Url.Action("Index", "OthXtreme")" role="tab" aria-controls="v-pills-messages" aria-selected="false">Descargar Partida</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">@Html.Partial("_HomeBoard")</div>
                    <div class="tab-pane fade" id="v-pills-upload" role="tabpanel" aria-labelledby="v-pills-profile-tab">@Html.Partial("_HomeUploadFile")</div>
                    <div class="tab-pane fade" id="v-pills-download" role="tabpanel" aria-labelledby="v-pills-messages-tab">@Html.Partial("_HomeDownloadFile")</div>
                </div>
            </div>
        </div>
</div>
    <!--div-- class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Othello Online</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Que deseas hacer?</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Opciones de Partida</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Nueva Partida</a>
                        </li>
                        <li>
                            <!--a href="Upload">Cargar Partida</a>
                        </li>
                        <li>
                            <a href="Download">Descargar Partida</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <div id="content">
        </div>
    </div-->