﻿@using practica_1.Models;
    <div class="container-fluid">
        @using (Html.BeginForm("NewGame", "Multiplayer", FormMethod.Post))
        {
            <label for="username">Nombre de Usuario:</label><br>
            <input type="text" name="username" id="username" /><br>
            <input type="checkbox" id="mode1" name="mode1" value="custom_opening">
            <label for="mode1"> Usar Apertura Personalizada</label><br>

            <input type="checkbox" id="mode2" name="mode2" value="reverse_score">
            <label for="mode2"> Usar Punteo Inverso</label><br>
                <button type="submit">Iniciar Partida</button>
        }

    <h2>Turno Actual: @Model.ActualTurn</h2>
        @if (TempData["message"] != null)
        {
            <script type="text/javascript">

            window.onload = function () {
                alert("@TempData["message"]");
            };
            </script>

        }
        <table class="table justify-content-center">
            <thead>
                <tr>
                    <th>
                        Blanco: @Model.WhitePoints
                    </th>
                    <th>
                        Negro: @Model.BlackPoints
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Tiempo Blanco: <p id="WhiteTimer"></p>
                    </td>
                    <td>
                        Tiempo Negro: <p id="WhiteTimer"></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table justify-content-center w-100 h-100">
            <tbody>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">A</th>
                    <th scope="col">B</th>
                    <th scope="col">C</th>
                    <th scope="col">D</th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">G</th>
                    <th scope="col">H</th>
                    <th scope="col"></th>
                </tr>
                @{string full_path = "";}
                @for (int i = 1; i < Model.GameBoard.Rows + 1; i++)
                {
                    <tr class="table-success">
                        <th scope="row">@i</th>
                        @for (int j = 0; j < Model.GameBoard.Columns; j++)
                        {
                            if (Model.GameBoard.GameBoard[i - 1, j].Color != " ")
                            {
                                if (Model.GameBoard.GameBoard[i - 1, j].Color == "posible")
                                {
                                    full_path = "/Content/Images/disk-" + Model.GameBoard.GameBoard[i - 1, j].Color + ".png";
                                    <td><a href='@Url.Action("UpdateBoard", "Multiplayer", new {Row = i-1, Column =j})'><img src="@full_path"></a></td>
                                }
                                else
                                {
                                    full_path = "/Content/Images/disk-" + Model.GameBoard.GameBoard[i - 1, j].Color + ".png";
                                    <td><img src="@full_path"></td>
                                }

                            }
                            else
                            {
                                <td><img src="~/Content/Images/disk.png" /></td>
                            }
                        }
                        <th scope="row">@i</th>
                    </tr>
                }
                <tr>
                    <th scope="col"></th>
                    <th scope="col">A</th>
                    <th scope="col">B</th>
                    <th scope="col">C</th>
                    <th scope="col">D</th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">G</th>
                    <th scope="col">H</th>
                    <th scope="col"></th>
                </tr>
            </tbody>

        </table>
    </div>