﻿<div class="bd-example bd-example-tabs">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <p class="nav-link">Opciones Partida vs CPU</p>
                <a class="nav-link" id="v-pills-home-tab" href="@Url.Action("NewGame", "Home")" role="tab" aria-controls="v-pills-home" aria-selected="false">Nueva Partida</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-upload" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cargar Partida</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-download" role="tab" aria-controls="v-pills-messages" aria-selected="false">Descargar Partida</a>
                <p class="nav-link">Opciones Partida Jugador vs Jugador</p>
                <a class="nav-link" id="v-pills-home-tab-pvp" href="@Url.Action("index", "multiplayer")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Nueva Partida</a>
                <a class="nav-link" id="v-pills-profile-tab-pvp" href="@Url.Action("index", "multiplayer")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cargar Partida</a>
                <a class="nav-link" id="v-pills-messages-tab-pvp" href="@Url.Action("index", "multiplayer")" role="tab" aria-controls="v-pills-messages" aria-selected="false">Descargar Partida</a>
                <p class="nav-link">Opciones Othello Xtreme</p>
                <a class="nav-link" id="v-pills-home-tab-pvp" href="@Url.Action("Index", "OthXtreme")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Nueva Partida</a>
                <a class="nav-link" id="v-pills-profile-tab-pvp" href="@Url.Action("Index", "OthXtreme")" role="tab" aria-controls="v-pills-profile" aria-selected="false">Cargar Partida</a>
                <a class="nav-link" id="v-pills-messages-tab-pvp" href="@Url.Action("Index", "OthXtreme")" role="tab" aria-controls="v-pills-messages" aria-selected="false">Descargar Partida</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">@Html.Partial("_HomeBoard")</div>
                <div class="tab-pane fade" id="v-pills-upload" role="tabpanel" aria-labelledby="v-pills-profile-tab">@Html.Partial("_HomeUploadFile")</div>
                <div class="tab-pane fade" id="v-pills-download" role="tabpanel" aria-labelledby="v-pills-messages-tab">@Html.Partial("_HomeDownloadFile")</div>
            </div>
        </div>
    </div>
</div>
